@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

header nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  font-size: 20px;
  font-weight: 600;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

header nav ul li a {
  display: block;
}

main {
  margin-top: 60px;
}