<main>
  <div class="container">
    <h1>Esta es la lista de productos</h1>
    <p>La cantidad de productos es <?= count($products) ?></p>
    <ol>
      <?php foreach ($products as $product) { ?>
        <li>
          <a href="/products/<?= $product->product_id ?>">Nombre: <?= $product->name ?> Precio: <?= $product->price ?></a>
        </li>
      <?php } ?>
    </ol>
  </div>
</main>